:root {
  /* Colors */
  --color-1: #2C2B3D;
  --color-2: #FFFFFF;
  --color-3: #00BFA6;
  --color-4: #C2C2C2;

  /* Font Families */
  --font-family-1: 'JetBrains Mono', monospace;
  --font-family-2: 'Open Sans', sans-serif;;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-1);
  background-image: url("../img/padlock.svg");
  background-position: left 2rem bottom 2rem;
  background-repeat: no-repeat;
  display: flex;
    align-items: center;
  font-size: 1.6rem;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 700;
}